<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>
	<div  class="container">
		<app-friends>
		</app-friends>
	</div>
	<div class="container">
		<hr />
	</div>
	<div class="container">
		<app-remote-friends>
		</app-remote-friends>
	</div>
</body>
</html>
